.DS_Store
.env
.env.*
!.env.example

node_modules/
dist/
coverage/
.angular/
.turbo/

data/
*.db
*.db-shm
*.db-wal

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.vscode/
.idea/
*.suo
*.sw?

# OS
Thumbs.db
